body {
    font-family: 'Abel', sans-serif;
}

/* Navbar styling */

.navbar-light .navbar-brand {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;
    color: #4b8bb9;
}

.navbar {
    background-color: rgba(0,0,0,0.5);
}


.navbar-nav a {
    font-size: 25px;
}

.btn {
    font-weight: 700;
}

/* container styling */
.image-container {
    height: 90vh;
    background: url('../images/home-photo.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    height: 30%;
    background: url('../images/dumbell.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-desktop {
    display: block;
}

.jumbotron {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    text-align: center;
}

.container {
    align-items: center;
    padding-bottom: 70px;
}

.facilities-header {
    text-align: center;
    padding-top: 25px;
    color: #4b8bb9;
    letter-spacing: 1px;
    font-size: 38px;
}


/*Media queries*/

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;} 
.hide-mobile {display: none;}
#hide-desktop {display: block;}
}

/*Icons*/



/* Testimonials*/
.testimonial-header {
    font-family: 'Abel', sans-serif;
    color: #4b8bb9;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    padding-top: 30px;
    
}

.container-wrapper {
    background-color: #fff;
    padding: 0;
    height: 30vh
}



.media {
    margin-top: 40px;
}

.h2, h2 {
    font-size: 38px;
    letter-spacing: 1px;
}

/* Buttons */

.btn {
    color: #4b8bb9;
}
