body {
    font-family: 'Abel', sans-serif;
    background-color: #fafafa;
    
}

/*--------------------------------------------------Navbar styling */

.navbar-light .navbar-brand {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;
    color: #4b8bb9;
}

.navbar-nav a {
    font-size: 25px;
}

.bg-light {
    background-color: black !important;
}

.navbar-light, .navbar-nav .nav-link {
    color: #fafafa !important;
}

/*--------------------------------------------------Home About Us & Sportive hero image container styling */
.home-image-container {
    height: 105vh;
    background: url('../images/woman-stretching.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.refer-container {
    height: 65vh;
    background: url('../images/dumbell.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gym-container {
    height: 105vh;
    background: url('../images/gym-floor.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sportive-container {
    height: 105vh;
    background: url('../images/ropes.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-container {
    height: 65vh;
    background: url('../images/sportive-man-dumbbell.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------------General container styling */

.container {
    align-items: center;
    padding-bottom: 60px;
}

.text-container {
    background-color: #4b8bb9;
}

.collaboration-text {
    padding-bottom: 0;
}



/*--------------------------------------------------Ask Us container styling */

.ask-us-anything-header {
    text-align: center;
    padding-top: 25px;
    color: #4b8bb9;
    letter-spacing: 1px;
    font-size: 38px;
}

.container-background {
    background-color: black;
}

.ask-us-anything-header h4 {
    color: #fafafa;
}

.blockquote h5 {
    color: #fafafa;
}

.form-row {
    color: #fafafa; 
}

.text-muted {
    color: #fafafa !important;
}

.ask-us-anything-paragraph-container{
    padding-bottom: 15px;
}

/*--------------------------------------------------Gym features styling*/

.gym-features-header {
    text-align: center;
    padding-top: 25px;
    color: #4b8bb9;
    letter-spacing: 1px;
    font-size: 38px;
}

/*--------------------------------------------------Jumbotron styling*/

.jumbotron-refer {
    font-family:'Abel', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    text-align: center;
}

.jumbotron {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    color: #fff;
    background-color: transparent;
    text-align: center;
}

.deadline-text {
    font-size: 30px;
    float: left;
}

/*--------------------------------------------------Testimonials*/

.testimonial-header {
    font-family: 'Abel', sans-serif;
    color: #4b8bb9;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    padding-top: 30px;
    
}

.media {
    margin-top: 40px;
    
}

.h2, h2 {
    font-size: 38px;
    letter-spacing: 1px;
}

.testimonial-text {
    margin-bottom: 300px;
}

.i {
    padding-bottom: 30px;
}

div.media-body {
    margin-bottom: 0;
}
/*--------------------------------------------------Gym Features*/

h4 {
    padding-bottom: 25px;
    color: #4b8bb9;
    word-spacing: -1px;
}

/*--------------------------------------------------Media section*/



.pa-header {
    text-align: center;
    padding-bottom: 0;
    color: #4b8bb9;
}

div.pa-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}

.rounded-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}

div.pa-image {
    padding-top: 115px;
}

.pa-intro {
    color: #4b8bb9;
    margin-top: 60px;
    margin-bottom: 0px;
}

p.intro {
    padding-bottom: 35px;
}

/*--------------------------------------------------Buttons */

.btn {
    color: #4b8bb9;
}

.btn:hover {
    background-color: #4b8bb9;
}

.btn-outline-secondary {
    border-color: #4b8bb9;
}

button.navbar-toggler{
    color: #fafafa;
}

.btn {
    font-weight: 700;
}

/*--------------------------------------------------Footer */

.fa-instagram:hover {
    color: black !important;
}

.fa-facebook-square:hover {
    color: black !important;
}

.fa-bars:hover {
    color: #4b8bb9;
}

div.media {
    padding: 0px;
}

div.media {
    margin-right: 0px;
}

/*--------------------------------------------------Container media queries and styling */

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}
.hide-mobile {display: none;}
#hide-desktop {display: block;}
.no-mobile {display: none;}

}
#content-desktop { 
    display: block;
}
