body {
    font-family: 'Abel', sans-serif;
}

/* Navbar styling */

.navbar-light .navbar-brand {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;
    color: #d39e00;
}


.navbar-nav a {
    font-size: 25px;
}

.btn {
    font-weight: 700;
}

/* container styling */
.image-container {
    height: 100vh;
    background: url('../images/home-photo.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.jumbotron {
    font-family: 'Abel', sans-serif;
    font-size: large;
    color: #fff;
    background-color: transparent;
    text-align: center;
}

.container {
    align-items: center;
    
}

/* Testimonials*/
.testimonial-header {
    font-family: 'Abel', sans-serif;
    color: #d39e00;
    text-align: center;
    margin-top: 10px;
    font-size: large;
    
}

.container-wrapper {
    background-color: #fff;
    padding: 0;
    height: 30vh
}

.quotes-container {
    background-color: #d39e00;
    width: 100vw;
}

.media {
    margin-top: 20px;
}